---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Dainty Archive">
  <div class="heading">
    <h1>Welcome to the <br />dainty archive</h1>
  </div>
  <div class="introduction">
    <p>
      Life is good when you can ask a lot of questions. This site is filled with
      my thoughts, work and curations. Take a look around...
    </p>
  </div>
  <div class="manasi">
    <a href="/about">Meet your archivist Manasi.</a>
  </div>

  <img src="/images/plant2.png" class="rotated-image" />
  <img src="/images/plant1.png" class="bottom-image" />
</MainLayout>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .rotated-image {
    position: fixed;
    margin-top: -380px;
    margin-left: 790px;
    padding: 0;
    width: 390px;
    height: auto;
    transform: rotate(270deg);
  }

  .bottom-image {
    position: fixed;
    bottom: 0;
    left: 220px;
    width: 300px;
    height: auto;
  }

  .heading {
    margin-left: 20px;
    font-size: 40px;
    font-family: lapture;
    color: #112a4d;
    font-weight: 700;
    letter-spacing: 0.05em;
  }

  .introduction {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
    background-color: #f0ebe6;
    padding: 14px;
    border-radius: 5px;
    max-width: 350px;
    margin: 20px auto 50px;
    font-size: 18px;
    text-align: left;
  }

  .introduction p {
    font-weight: 400;
    color: #0e681a;
    margin: 0;
  }

  .manasi {
    text-align: right;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    position: relative;
    top: 20px;
  }
  .manasi a {
    text-decoration: overline;
    color: #86a69d;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
    transition: all 0.3s ease;
  }

  .manasi a:hover {
    color: #d3e85c;
    text-shadow: 2px 2px 5px rgba(255, 111, 97, 0.3);
    transform: scale(1.05);

    /* Tablets (iPad & small laptops) */
    @media (max-width: 1024px) {
    }

    /* Phones */
    @media (max-width: 768px) {
    }

    /* Small phones */
    @media (max-width: 480px) {
    }
  }
</style>
