---
// Import the layout and components
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import ImageCard from "../components/ImageCard.astro";
import
---

<MainLayout title="Dainty Words">
  <h1>Dainty words</h1>
  <p>
    because words always stay. I am a funny little human, only do what's
    interesting to me. Life is good when you can ask a lot of questions. This
    site is rapt with my inner thoughts, work and curations.
  </p>

  <ImageCard
    link="https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg"
    height="300"
  />
</MainLayout>
