---
import DirectoryLayout from "../layouts/DirectoryLayout.astro";
import MainLayout from "../layouts/MainLayout.astro";

const allPosts = Object.values(
  import.meta.glob("../pages/poetry/*.md", { eager: true })
);
---

<MainLayout class="layout">
  <DirectoryLayout title="Poetry">
    <div class="poetry-quote">
      <p>
        “A poem begins as a lump in the throat, a sense of wrong, a
        homesickness, a lovesickness.”<br /><br />― Robert Frost
      </p>
    </div>

    <!-- Grid container here -->
    <div class="blog-grid">
      {
        allPosts.map((post: any) => (
          <article class="blog-card">
            <h2>
              <a href={post.url}>{post.frontmatter.title}</a>
            </h2>
            <p>
              <small>By {post.frontmatter.poet}</small>
            </p>

            <p>
              <small>Published on {post.frontmatter.date}</small>
            </p>
          </article>
        ))
      }
    </div>
  </DirectoryLayout>
</MainLayout>

<style>
  article {
    margin: 30px 0;
    padding: 20px 0;
  }
  .blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
  }

  .blog-card {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1.5rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    max-width: 400px;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .blog-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
  }

  .blog-card h2 {
    font-family: "Merriweather", serif;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: #333;
  }

  .blog-card p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
  .text-card small {
    font-size: 10px;
    color: #888;
  }
  .blog-card a {
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s ease;
  }

  .blog-card a:hover {
    background: pink;
  }

  .poetry-quote {
    position: fixed;
    top: 150px;
    right: 20px;
    transform: translateY(-50%);
    font-style: italic;
    font-family: "Book Antiqua", serif;
    font-size: 20px;
    padding: 2rem;
    max-width: 200px;
    z-index: 1000;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 800px) {
    .blog-grid {
      grid-template-columns: 1fr;
      gap: 1rem;
      padding: 1rem;
    }
  }
</style>
