
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="icon" type="image/svg+xml" href="/svg/favicon.svg" />
    <title>Sitemap</title>
  </head>

  <body>
    <h1>Keep Track</h1>
    <div class="content">
      <ul>
        <li><a href="/">Home</a></li>

        <li>
          Projects
          <ul>
            <li><a href="/projects/project-1">Project 1</a></li>
            <li><a href="/projects/project-2">Project 2</a></li>
          </ul>
        </li>

        <li>
          Blog
          <ul>
            <li><a href="/posts/post-1">Post 1</a></li>
            <li><a href="/posts/post-2">Post 2</a></li>
          </ul>
        </li>

        <li>
          Poetry
          <ul>
            <li><a href="/poetry/poetry-1">Poetry 1</a></li>
            <li><a href="/poetry/poetry-2">Poetry 2</a></li>
          </ul>
        </li>

        <li>
          Quotes
          <ul>
            <li><a href="/quotes/quote-1">Quote 1</a></li>
            <li><a href="/quotes/quote-2">Quote 2</a></li>
          </ul>
        </li>

        <li><a href="/bookhouse">Bookhouse</a></li>
        <li><a href="/magazine">Magazine</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/socials">Socials</a></li>
      </ul>
    </div>
  </body>
</html>

<style>
  body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 20px;
    background-color: rgb(208, 242, 246);
  }
  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  .content {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  ul {
    list-style:circle;
    padding-left: 20px;
  }
  a {
    text-decoration: none;
    color: #333;
  }
  a:hover {
    color: white;
    background-color: red;
  }
  .child {
    padding-left: 20px;
  }
</style>
