---
// Simple component example 1: A button that takes custom text
// Usage: <Button text="Click me!" />
const { text, link } = Astro.props;
---
<a href={link} class="sidebar-button">{text}</a>

<style>
.sidebar-button {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  /* display: inline-block; */
  padding: 4px 8px;
  background: f7f7f7;
  text-decoration: none;
  color: rgb(50, 46, 46);
  font-weight: 200;
  transition: all 0.2s ease;
}
.sidebar-button:hover {
  background: rgb(163, 19, 72);
  color: white;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
</style>