---
const { link, height } = Astro.props;
---

<div class="container">
  <img src={link} height={height} />
</div>


<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: fit-content;
    max-width: fit-content;
    border: 4px solid black;
    border-radius: 10px;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

</style>
