---
const { title, date, genre } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Blog post" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>

  <body>
    <article>
      <div>
        <h1 class="blog-heading">{title}</h1>
        {date && <p class="date">Published {date}</p>}
      </div>
      <div class="genre">
        <p>{genre}</p>
      </div>

      <div class="content">
        <slot />
      </div>
    </article>
  </body>

  <style>
    .blog-heading {
    }

    .genre {
      margin-left: 100px;
      gap: 15px;
      margin-bottom: 20px;
    }

  </style>
</html>
