---
const { title } = Astro.props;
import Button from "../components/Button.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My website description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>{title}</title>
  </head>
  <body>
      <aside class="sidebar">
        <ul class="menu"><Button text="Home" link="/" /></ul>

        <div class="category">
        </div>
        <ul class="link"><Button text="Projects" link="/projects" /></ul>
        <ul class="link"><Button text="Blog" link="/blog" /></ul>
        <ul class="link"><Button text="Poetry" link="/poetry" /></ul>

        <div class="category">
        </div>
        <ul class="link"><Button text="Quotes" link="/quotes" /></ul>
        <ul class="link"><Button text="Bookhouse" link="/bookhouse" /></ul>
        <ul class="link"><Button text="Magazine" link="/magazine" /></ul>

        <ul class="logo"><Button text="About" link="/about" /></ul>
        <ul class="link"><Button text="Connect" link="/socials" /></ul>
        <ul class="link"><Button text="Sitemap" link="/sitemap" /></ul>
      </aside>

      <main class="main-content">
        <slot />
      </main>
  </body>
  <style>
      * {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
        overflow:visible;
			}


    body {
      margin-left: 0px;
      background: #AED1C7;
      display: flex;
    }

      .sidebar {
        position: sticky;
        top: 0;
        height: 100vh;
        width: 250px;
        background-color: #F1FAEE;
        color: #333;
        padding: 50px;
        border: 4px solid transparent;
        display: flex;
        align-items: center;
        flex-flow: column;
        font-size: 18px;
        body {
  background-color: #f5f0e8; /* base color */
  background-image: url('/textures/paper-texture.png'); /* your texture file */
  background-repeat: repeat; /* repeat across the screen */
  background-size: auto; /* or 'cover' for full screen */
}
      }

    .main-content {
      margin: 0 auto;
      max-width: 900px;
      flex: 1;
      padding: 0px;

    }

    .logo {
      font-size: 18px;
      padding: 20px;
      margin-bottom: 30px;
      color: #89023e;
    }

    .menu {
      font-size: 20px;
      margin-bottom: 0px;
      color: #89023e;
    }

    .category {
      font-size: 20px;
      font-weight: bold;
      margin-top: 30px;
      color: #05162e;
    }

    .link {
      font-size: 18px;
      margin-top: 10px;
      color: #64769c;
      text-decoration: none;
      cursor: pointer;
    }

    .socials {
      bottom: 20px;
      font-size: 18px;
      font-weight: bold;
      color: #333;
      cursor: pointer;
    }

    @media (max-width: 768px) {
  .content-box {
    width: 90%;
    padding: 20px;
  }

  .sidebar-button {
    background: none;
  }

  Button{
    background: none;
  }

  </style>
</html>
