---
const { title } = Astro.props;
import Button from "../components/Button.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My website description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>{title}</title>
  </head>
  <body>
    <div class="layout">
      <aside class="sidebar">
  <ul class="menu"><Button text="Home" link="/" /></ul>

  <div class="category">
    <p>Creation</p>
  </div>
  <ul class="link"><Button text="Projects" link="/projects" /></ul>
  <ul class="link"><Button text="Blog" link="/blog" /></ul>
  <ul class="link"><Button text="Poetry" link="/poetry" /></ul>

  <div class="category">
    <p>Curation</p>
  </div>
  <ul class="link"><Button text="Quotes" link="/quotes" /></ul>
  <ul class="link"><Button text="Bookhouse" link="/bookhouse" /></ul>
  <ul class="link"><Button text="Magazine" link="/magazine" /></ul>

  <div>
    <ul class="logo"><Button text="About" link="/about" /></ul>
  </div>
  <ul class="link"><Button text="Socials" link="/socials" /></ul>
  <ul class="link"><Button text="Sitemap" link="/sitemap" /></ul>
</aside>

      <main class="main-content">
        <slot />
      </main>
    </div>
  </body>
  <style>
    * {
      margin-top: 0px;
      margin-left: 10px;
      padding: 0px;
      box-sizing: border-box;
    }

    body {
      margin: 10px;
      background: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .layout {
      display: flex;
      align-items: center;
      margin: 0px;
      min-height: 100vh;
    }

    .sidebar {
      position: fixed;
      left: 0;
      width: 300px;
      height: 100vh;
      background: lightblue;
      padding: 60px;
      overflow-y: auto;
      border-right: 1px solid #e9ecef;
      border-radius: 20px;
    }

    .main-content {
      margin-left: 80px;
      max-width: 700px;
      flex: 1;
      padding: 0px;
    }

    .logo {
      font-size: 18px;
      padding: 20px;
      margin-bottom: 30px;
      color: #89023e;
    }

    .menu {
      font-size: 20px;
      margin-bottom: 0px;
      color: #89023e;
    }

    .category {
      font-size: 20px;
      font-weight: bold;
      margin-top: 30px;
      color: #05162e;
    }

    .link {
      font-size: 18px;
      margin-top: 10px;
      color: #64769c;
      text-decoration: none;
      cursor: pointer;
    }

    .socials {
      bottom: 20px;
      font-size: 18px;
      font-weight: bold;
      color: #333;
      cursor: pointer;
    }
  </style>
</html>
