---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My website description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>{title}</title>
  </head>
  <body>
    <div class="layout">
      <aside class="sidebar">
        <ul class="menu"><a href="/">Home</a></ul>
        <div class="category">
          <p>Creation</p>
        </div>
        <ul class="link"><a href="/projects">Projects</a></ul>
        <ul class="link"><a href="/blog">Blog</a></ul>
        <ul class="link"><a href="/poetry">Poetry</a></ul>
        <div class="category">
          <p>Curation</p>
        </div>
        <ul class="link"><a href="/quotes">Quotes</a></ul>
        <ul class="link"><a href="/directory/bookhouse">Bookhouse</a></ul>
        <ul class="link"><a href="/directory/magazine">Magazine</a></ul>
        <div>
          <ul class="logo"><a href="/about">About</a></ul>
        </div>
        <div class="socials">Socials</div>
      </aside>
      <main class="main-content">
        <slot />
      </main>
    </div>
  </body>
  <style>
    * {
      margin-top: 0px;
      margin-left: 10px;
      padding: 0px;
      box-sizing: border-box;
    }

    body {
      margin: 10px;
      background: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .layout {
      display: flex;
      align-items: center;
      margin: 0px;
      min-height: 100vh;
    }

    .sidebar {
      position: fixed;
      left: 0;
      width: 300px;
      height: 100vh;
      background: lightblue;
      padding: 60px;
      overflow-y: auto;
      border-right: 1px solid #e9ecef;
      border-radius: 20px;
    }

    .main-content {
      margin-left: 80px;
      max-width: 700px;
      flex: 1;
      padding: 0px;
    }

    .logo {
      font-size: 18px;
      padding: 20px;
      margin-bottom: 30px;
      color: #89023e;
    }

    .menu {
      font-size: 20px;
      margin-bottom: 0px;
      color: #89023e;
    }

    .category {
      font-size: 20px;
      font-weight: bold;
      margin-top: 30px;
      color: #05162e;
    }

    .link {
      font-size: 18px;
      margin-top: 10px;
      color: #64769c;
      text-decoration: none;
      cursor: pointer;
    }

    .socials {
      bottom: 20px;
      font-size: 18px;
      font-weight: bold;
      color: #333;
      cursor: pointer;
    }
  </style>
</html>
