---
import Button from "../components/Button.astro";

const allQuotes = Object.values(
  import.meta.glob("../pages/quotes/*.md", { eager: true })
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Quotes</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>

  <body>
    <main>
      <article >
        {
          allQuotes.map((post: any) => (
            <div class="quote-item">
              <div class="quote-text">“ {post.frontmatter.quote} ”</div>
              <div class="quote-author">— {post.frontmatter.author}</div>
              {post.frontmatter.bibliography && (
                <div class="quote-bibliography">
                  {post.frontmatter.bibliography}
                </div>
              )}
              {post.frontmatter.thoughts && (
                <div class="quote-thoughts">{post.frontmatter.thoughts}</div>
              )}
            </div>
          ))
        }
      </article>
    </main>

    <ul class="link">
      <Button text="Back" link="/quotes" />
    </ul>
  </body>
</html>

<style>
  body {
    font-family: "Libre Baskerville", Georgia, serif;
    background: #f9f9f8;
    color: #111;
    margin: 200px;
    padding: 0;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
  }

  blockquote {
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: #0d1b2a;
  }

  .quote-text {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    color: #0d1b2a;
  }

  .quote-item.open {
    align-self: flex-start;
  }

  .quote-item.close {
    align-self: flex-end;
  }

  /* Author */
  .quote-author {
    text-align: right;
    font-size: 0.9rem;
    line-height: 1.4;
    font-family: "Libre Baskerville", Georgia, serif;
    margin-left: 1rem;
  }
  .quote-bibliography {
    font-style: italic;
    margin: 0;
    color: #333;
  }

  /* Thoughts section */
  .quote-thoughts {
    max-width: 300px;
    align-self: flex-end;
    font-size: 0.85rem;
    line-height: 1.5;
    color: #6c7a89;
  }
</style>
